.react-grid-layout {
  transition: height 500ms ease;
}

.react-grid-item {
  transition: all 500ms ease;
}

.react-grid-item.react-grid-placeholder {
  background: #ede9e9;
  opacity:1;
  border-radius: 1.5rem;
  transition-duration: 500ms;
  z-index: 0;
}
  

/* .react-grid-item.react-draggable-dragging { */
.react-draggable {
  z-index: 2; /* Ensure dragged item is above placeholder */
}
